include *.txt
include rdmlpython/__init__.py
include rdmlpython/LICENSE
include rdmlpython/rdml.py
include rdmlpython/README.md
include rdmlpython/schema/changes_log.txt
include rdmlpython/schema/changes_v1.0_to_v1.1.txt
include rdmlpython/schema/changes_v1.1_to_v1.2.txt
include rdmlpython/schema/file_format_notes_v1_0_0_REC.txt
include rdmlpython/schema/file_format_notes_v1_2_0_REC.txt
include rdmlpython/schema/LICENSE
include rdmlpython/schema/RDML_v1_0_REC.png
include rdmlpython/schema/RDML_v1_0_REC.xsd
include rdmlpython/schema/RDML_v1_1_REC.png
include rdmlpython/schema/RDML_v1_1_REC.xsd
include rdmlpython/schema/RDML_v1_2_REC.png
include rdmlpython/schema/RDML_v1_2_REC.xsd
include rdmlpython/schema/README.md

