include rdmlpython/__init__.py
include rdmlpython/LICENSE
include rdmlpython/rdml.py
include rdmlpython/README.md
include rdmlpython/schema/RDML_v1_0_REC.xsd
include rdmlpython/schema/RDML_v1_1_REC.xsd
include rdmlpython/schema/RDML_v1_2_REC.xsd
include rdmlpython/schema/RDML_v1_3_REC.xsd
